extends layout

block content
  .dropdown
    h1= title
    p We can help you trade your Subaru WRX or STI trunk for the style you fancy.
    form(id="toPostPage" method='get' action="/post_trunk")
      .postLink
        label Post Trunk
          ul(id='postLink')
    form(id="toSearchPage" method='get' action="/search_trunk")
      .searchLink
        label Search Trunk
          ul(id='searchLink')