extends layout

block content
  .dropdown
    h1= title
    p search for a trunk here.
    form(id='searchForm' method='post' action="/search_trunk")
      .yearsDiv
        label Year 
          ul(id='years')
      .modelsDiv
        label Model 
          ul(id='models')
      .colorsDiv
        label Color 
          ul(id='colors')
      .searchDiv
        label Search
          ul(id='search')