extends layout

block content
  h1= title
  p search for a trunk here.

  h1(id='tester')
  h2 Desired Trunk:
  form(method='post' action="/search_trunk")
    .dropdown
      .prettyYearsDiv
        label Year 
          ul(id='prettyYears')
      .prettyModelsDiv
        label Model 
          ul(id='prettyModels')
      .prettyColorsDiv
        label Color 
          ul(id='prettyColors')
    .search
      input(type='button' class='submit' value='Search Trunks')

  