extends layout

block content
  .dropdown
    h1= title
    p search for a trunk here.
    form(id='searchForm' method='post' action="/search_trunk")
      .YearsDiv
        label Year 
          ul(id='Years')
      .ModelsDiv
        label Model 
          ul(id='Models')
      .ColorsDiv
        label Color 
          ul(id='Colors')
      .SearchDiv
        label Search
          ul(id='Search')