extends layout

block content
  h1= title
  p search for a trunk here.

  h1(id='tester')

  form(method='post' action="/search_trunk")
    h2 Desired Trunk:
    
    .searchform
      .year
        label Year 
          select(class='year' id='year')
            option(value='') select a year
            -for(var i = 2016; i>=1994;i--){
            option(value="#{i}") #{i}
            -}
      .model( disabled=true )
        label Model 
          select(id='model' class="model")
            option(id="wrx" type="text" class="dropdown" value='') select model
            option(id="sti" type="text" class="dropdown" value='sti') STI
            option(id="test" type="text" class="dropdown" value='wrx') WRX
      .color
        label Color
          select(id='color')
      .trunkStyle
        label Trunk Style 
          select(class="trunkStyle" id='trunkStyle')
            option(id="wing" class="dropdown") STI Wing W/ Backup Camera
            option(id="wingless" class="dropdown") WRX Wingless
            option(id="lip" class="dropdown") WRX Lip W/ Backup Camera
    //- .dropdown
    //-   label Trunk Style
    //-     ul(id='search')
    //-       li
    //-         span STI Wing W/ Backup Camera
    //-       li
    //-         span WRX Wingless
    //-       li
    //-         span WRX Lip W/ Backup Camera
    .search
      input(type='button' class='submit' value='Search')

  