doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://github.com/jquery/jquery")
  body
    .dropdown
      label Simple Dropdown Menu
        ul
          li
            span Option 1
          li
            span Option 2
          li
            span Option 3
    block content
