doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(language='javascript', type='text/javascript', src='jQuery 2.1.4-min.js')
    script(src='../public/javascript/search_trunk.js')
    block content