extends layout

block content
  .dropdown
    h1= title
    p= message
    form(id='postForm' method='post' action="/posted")
      .yearDiv
        label Year 
          ul(id='year')
      .modelDiv
        label Model 
          ul(id='model')
      .colorDiv
        label Color 
          ul(id='color')
      .postDiv
        label Post
          ul(id='post')