extends layout

block content
  .dropdown
    h1= title
    p search for a trunk here.
    form(id='postForm' method='post' action="/post_trunk")
      .prettyYearsDiv
        label Year 
          ul(id='prettyYears')
      .prettyModelsDiv
        label Model 
          ul(id='prettyModels')
      .prettyColorsDiv
        label Color 
          ul(id='prettyColors')
      .prettyPostDiv
        label Post
          ul(id='prettyPost')