extends layout

block content
  .dropdown
    h1= title
    p search for a trunk here.
    form(id='postForm' method='post' action="/post_trunk")
      .yearsDiv
        label Year 
          ul(id='years')
      .modelsDiv
        label Model 
          ul(id='models')
      .colorsDiv
        label Color 
          ul(id='colors')
      .postDiv
        label Post
          ul(id='post')